body {
  h1, h2, h3, h4, h5, h6 {
    font-family: 'PT Sans', sans-serif;
    color: #707171;
  }

  p, .fcp-text {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
  }

  a.card {
    text-decoration: none;
    text-transform: none;
    color: #000;
  }
}

.main-button {
  color: #FFFFFF;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
  padding: 8px 28px;
  border-radius: 6px;
  font-size: 18px;
  line-height: 28px;

  span {
    position: relative;
    z-index: 3;
    //text-shadow: 2px 2px 5px darken(#7692D2, 5%);
    color: #7692D2;
    font-weight: bold;
    background: -webkit-linear-gradient(70deg, #7692D2 0%, #8DBEDB 50%, #7692D2 100%) left center;
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all ease 0.5s;
  }

  &:after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: -100%;
    background: linear-gradient(70deg, #7692D2 0%, #8DBEDB 50%, #7692D2 100%) 0 0;
    transition: all 1s ease;
  }

  &:before {
    content: "";
    position: absolute;
    z-index: 2;
    top: 4px;
    right: 4px;
    bottom: 4px;
    left: 4px;
    background: white;
    transition: all 0.5s ease;
    border-radius: 3px;
    opacity: 1;
  }

  &:hover {
    span {
      background-image: -webkit-linear-gradient(70deg, #fff 0%, #fff 50%, #fff 100%);
      color: white;
    }

    &:before {
      opacity: 0;
    }

    &:after {
      right: -100%;
      left: 0;
    }
  }
}