section.block-companies {
  padding-bottom: 70px;
  position: relative;
  z-index: 10;

  @include respond-down(md) {
    padding-bottom: 0;
  }

  .companies-holder {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 30px;
    border-radius: 6px;

    h4 {
      @include respond-down(xl){
        font-size: 27px;
      }
      @include respond-down(lg){
        font-size: 24px;
      }
      @include respond-down(md){
        font-size: 20px;
      }
      @include respond-down(md){
        font-size: 18px;
      }
    }

    img {
      padding: 15px;
    }
  }
}