.features {
  .single-feature {
    padding-left: 85px;
    position: relative;
    margin-bottom: 30px;

    img.feature-icon {
      max-width: 50px;
      position: absolute;
      left: 15px;
      top: 0;
    }

    h2 {
      font-size: 30px;
      font-weight: bold;
    }
  }
}

